html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eceef1;
    font-family: 'Roboto', sans-serif;
}

/* General */
a {
    text-decoration: none;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    margin-bottom: 8vh;
}

.info {
    float: left;
    align-items: center;
    margin-right: 12px;
    margin-top: 10px;
}

.navButton {
    float: right;
    align-items: center;
    margin-top: 19px;
}

p.text {
    margin-bottom: -12px;
}

button.btn {
    padding: 11px;
    width: 151px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    background-color: blue;
}

.info p {
    font-size: 13px;
}

button.btn a {
    color: white;
    font-size: 16px;
}